<div class="row mt-3">
  <div class="col-sm-3">
    <select class="form-control">
      <option value="0">Marcas ...</option>
      <option *ngFor="let marca of marcas" [ngValue]="marca.marca">{{marca.marca}}</option>
    </select>
  </div>
  <div class="col-sm-3">
    <select class="form-control">
      <option value="0">Modelos ...</option>
      <option *ngFor="let modelo of modelos" [ngValue]="modelo.modelo">{{modelo.modelo}}</option>
    </select>
  </div>
</div>
<table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Codigo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Medida</th>
        <th scope="col">Stock</th>
        <th scope="col">Cod. Proveedor</th>
        <th colspan="2" scope="col" class="text-center"><a href="#">Nuevo</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of prods" class="table-primary">
        <td>{{ prod.id }}</td>
        <td>{{ prod.codArticulo }}</td>
        <td>{{ prod.marca }}</td>
        <td>{{ prod.modelo }}</td>
        <td>{{ prod.medida }}</td>
        <td>{{ prod.stock }}</td>
        <td>{{ prod.codProveedor }}</td>
        <td class="text-center"><a href="#">Editar</a></td>
        <td class="text-center"><a href="#">Eliminar</a></td>
      </tr>
    </tbody>
</table>